{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Cari Buku</title>
<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
<link rel="icon" href="{% static 'main/img/apa-ini.png' %}">
<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
{% endblock meta %}

{% block content %}
<div id="main-div">
    <div class="judul">Cari Buku</div>
    <div class="search-container"><input id="book-search" type="text" placeholder="Masukkan nama buku"></div>
    <div id="hasil" class="hasil" style="display: none;">
        <div class="judul">Hasil pencarian:</div>
        <div id="hasil-pencarian"></div>
        <div id="page-nav">
            <img id="kiri" class="nav-btn" src="{% static 'main/img/left.png' %}">
            <div id="page-num"></div>
            <img id="kanan" class="nav-btn" src="{% static 'main/img/right.png' %}">
        </div>
    </div>
</div>
{% endblock content %}
