body {
    background-color: #FFF500;
    margin: 0;
}

#main-div {
    background-color: #F4F4F4;
    
    border: 1px solid #000000;
    margin: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.judul {
    font-weight: bold;
    font-size: x-large;
    
    padding: 0.5em 0;
}

.search-container {
    width: 100%;
    
    display: flex;
    justify-content: center;
}

#book-search {
    all: unset;
    
    background-color: white;
    font-size: large;
    
    margin: 0.5em;
    margin-top: 0;
    padding: 0.25em 0.5em;
    border: 1px solid #000000;
}

#hasil {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    width: 100%;
}

#hasil-pencarian {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 1em;
    
    width: calc(100% - 2em);
    padding: 1em 0;
}

.item-pencarian {
    background-color: #FFFFFF;
    border: 1px solid #000000;
    
    display: flex;
    flex-direction: column;
    flex: 1 1 0;
    
    text-align: center;
}

.hasil-gambar {
    object-fit: contain;
}

#page-nav {
    width: 100%;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#page-nav > * {
    padding: 10px;
}

#page-num {
    display: flex;
    align-items: center;
    font-size: 40px;
}

.nav-btn {
    width: 60px;
    cursor: pointer;
}